{% extends 'userprofile/base.html' %}
{% block content %}
    <div class="text-box1">
        <h1>View Job</h1>

        <div class="comments-container" style="margin-top: 4%;">
            <ul id="comments-list" class="comments-list">
                    <div class="comment-box">
                        <div class="comment-head">
                            <span style="color: rgb(9, 16, 107);">{{job.created_at}}</span><span style="float: right;font-weight: bold;"><a style="text-decoration: none;" href="{% url 'edit_job' job.id %}">Edit</a></span>
                        </div>
                        <div class="comment-content" style="font-weight:bold;font-size: 25px; padding: 5px;border-bottom: 1px solid #E5E5E5;">
                            <a style="text-decoration: none;" href="{% url 'view_dashboard_job' job.id %}">{{job.title}}</a></div>
                            <div class="comment-content" style="border-bottom: 1px solid #E5E5E5;white-space: pre-wrap;text-align: justify;">{{job.short_description}}</div>
                            {% if job.long_description %}<div class="comment-content" style="border-bottom: 1px solid #E5E5E5;white-space: pre-wrap;text-align: justify;">{{job.long_description}}</div>{% endif %}
                            {% if job.company_name %}<div class="comment-content" style="border-bottom: 1px solid #E5E5E5;white-space: pre-wrap;text-align: justify;"><b>Company name      : </b>{{job.company_name}}</div>{% endif %}
                            {% if job.company_address %}<div class="comment-content" style="border-bottom: 1px solid #E5E5E5;white-space: pre-wrap;text-align: justify;"><b>Company address : </b>{{job.company_address}}</div>{% endif %}
                            {% if job.company_zipcode %}<div class="comment-content" style="border-bottom: 1px solid #E5E5E5;white-space: pre-wrap;text-align: justify;"><b>Company zipcode  : </b>{{job.company_zipcode}}</div>{% endif %}
                            {% if job.company_place %}<div class="comment-content" style="border-bottom: 1px solid #E5E5E5;white-space: pre-wrap;text-align: justify;"><b>Company place       : </b>{{job.company_place}}</div>{% endif %}
                            {% if job.company_country %}<div class="comment-content" style="border-bottom: 1px solid #E5E5E5;white-space: pre-wrap;text-align: justify;"><b>Company country  : </b>{{job.company_country}}</div>{% endif %}
                            {% if job.get_company_size_display %}<div class="comment-content" style="border-bottom: 1px solid #E5E5E5;white-space: pre-wrap;text-align: justify;"><b>Company size            : </b>{{job.get_company_size_display}}</div>{% endif %}
                    </div>
            </ul>
        </div>
        <div class="comments-container" style="margin-top: 4%;margin-bottom: 8%;">
            <ul id="comments-list" class="comments-list">
                    <div class="comment-box">
                        <div class="comment-content" style="font-weight:bold;font-size: 25px; padding: 5px;border-bottom: 1px solid #E5E5E5;">
                            <a style="text-decoration: none;">Applicants</a></div>
                            {% for application in job.applications.all %}
                            <div class="comment-content" style="border-bottom: 1px solid #E5E5E5;white-space: pre-wrap;text-align: justify;"><a href="{% url 'view_application' application.id %}">{{ application.created_by.username }}</a></div>
                            {% endfor %}
                    </div>
            </ul>
        </div>
    </div>
    <br>
{% endblock %}